<div th:fragment="table(application)" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{application.id}"></th>
            <th scope="col" th:text="#{application.name}"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="applications-rows">
        <tr th:each="topic : ${applications}"
            th:include="applications/_tr :: tr(${application})"
        />
        </tbody>
    </table>
</div>