<tr th:fragment="tr(member)"
    xmlns:th="http://www.thymeleaf.org">
    <td th:text="${member.firstName} + ' ' + ${member.lastName}"></td>
    <td>
        <form hx-target="#content" hx-post="/groups/remove_member"
              method="post">
            <input type="hidden" name="groupId" th:value="${group.id}">
            <input type="hidden" name="memberId" th:value="${member.id}">
            <button type="submit" class="btn btn-danger" th:text="#{group.user.remove}"></button>
        </form>
    </td>
</tr>