@font-face {
    font-family: 'Roboto Flex'; /*You can use whatever name that you want*/
    src: url('../src/fonts/RobotoFlex-Variable.ttf');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
:root {
	font-family: 'Roboto Flex', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: white;
	--tertiary-color: #edf0f8;
	--accent-color: #1900ff;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

h3 {
	font-weight: 300;

	font-size: 0.9rem;
}


p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 1.4rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

input {
	height: 2rem;
	padding-left: 0.5rem;
	font-size: 0.8rem;
}

input::placeholder {
	font-size: 0.85rem;
	padding-left: 0.1rem;
}

form.searchbox {
	display: inline-flex;
	border: none;
	padding: 0;
}

input.searchbox {
	border: 1px solid #555;
	padding: 9px 4px 9px 40px;
	background: transparent url('./icons/search.svg') no-repeat 0.5rem center;
	background-size: 1.2rem;
	border-width: 1px;
	width: 15rem;
	height: 2.2rem;
	margin-right: 2rem;

}

input.searchbox:disabled {
	border: 1px solid #555;
	padding-left: 0.5rem;
	background: transparent no-repeat 0rem center;
	background-size: 0;
	border-width: 1px;
	width: 15rem;
	height: 2.2rem;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid black;
}

th {
	font-size: 15pt;
	padding-bottom: 0.2rem;
	text-align: left;
}

td {
	padding-left: 0.3rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: left;
	vertical-align: middle;
}

select {
	font-size: 14px;
	background-color: white;
	border: thin solid black;
	border-radius: 8px;
	display: inline-block;
	line-height: 1.5em;
	padding: 0.4em 2em 0.4em 0.7em;
	appearance: none;
	margin: 0 1rem 0 1rem;

	background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, white, white);
 	 background-position:
    calc(100% - 20px) calc(1em),
    calc(100% - 15px) calc(1em),
    100% 0;
  	background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  	background-repeat: no-repeat;
}

select:focus {
	outline: none;
}

.modal-open {
	overflow-y: hidden;
}

.dot {
	height: 2.1rem;
	width: 2.1rem;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: right;
	font-weight: 600;
	font-size: 0.9rem;
	cursor: pointer;
	filter: invert();
	background-color: #c7a35a;
}

.pagination-image {
	scale: 47%;
	position: relative;
	top: 1.1rem;
	cursor: pointer;
	margin: 0 -0.1rem 0 -0.3rem;
}

.content {
	width: 100%;
}

.disabled {
	cursor: default;
	color: rgb(150, 150, 150);
}

.disabled-img {
	cursor: default;
	filter: opacity(25%);
}

.context-selected {
	filter: opacity(100%);
}

.context-deselected {
	filter: opacity(25%);
}

.confirm {
	display: inline-block;
}

.button-blue {
	color: white; 
	background-color: #385ca5; 
	border-radius: 25px; 
	border-style: solid; 
	border-color: transparent; 
	cursor: pointer;
}

.button-blue:focus {
	background-color: #4470c8;
}

.button-disabled {
	filter: grayscale(100%);
	cursor: default;
}

.error-message {
	position: absolute;
	color: rgb(205, 0, 0);
	float: right;
	font-size: 0.8rem;
	margin-top: -0.3rem;
}

.hidden {
	display: none;
}

.invalid {
	border-color: red !important;
}

.search-results {
	width: 15rem;
}

.search-group {
	font-size: 0.75rem;
	width: 10rem;
	cursor: pointer;
	list-style-type: none;
	margin-left: 1.9rem;
	margin-top: -0.7rem;
	padding-top: 0.1rem;
	padding-bottom: 0.02rem;
	text-align: left;
	background-color: rgb(240, 240, 240);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.search-group tr:last-child td {
	border-bottom-color: transparent;
}

.search-group tr {
	height: 1.9rem;
	border-bottom-color: rgba(0,0,0,0.01);
}

.search-group td {
	border-bottom-color: rgba(0,0,0,0.15);
}

.search-application {
	cursor: pointer;
	width: 12.1rem;
	font-size: 0.75rem;
	list-style-type: none;
	margin-left: 1rem;
	padding-bottom: 0.02rem;
	text-align: left;
	background-color: rgb(240, 240, 240);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	z-index: 100;
}

.search-application tr {
	height: 1.9rem;
}

.search-application td {
	border-bottom-color: rgba(0,0,0,0.15);
}

.search-application tr:last-child td {
	border-bottom-color: transparent;
}

.icon {
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}

.link {
	cursor: pointer;
	text-decoration: underline;
	color: #0000EE;
}

.highlighted {
	font-weight: 700;
}

.tooltip {
    position: absolute;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    line-height: 17px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-size: 8.5pt;
    z-index: 1;
}

.tooltip-hidden {
    position: absolute;
	visibility: hidden;
}

.permission-badges {
	margin: auto 2rem;
}

.permission-badges-hidden {
	margin: auto 2rem;
	visibility: hidden;
}

.permission-badges-green {
	filter: invert(40%) sepia(91%) saturate(1093%) hue-rotate(87deg) brightness(90%) contrast(110%);
}

.permission-badges-blue {
	filter: invert(7%) sepia(100%) saturate(7486%) hue-rotate(248deg) brightness(102%) contrast(142%);
	cursor: pointer;
}

.permission-badges-grey {
	filter: contrast(10%);
}

.permission-badges img {
	vertical-align: middle;
}

@-webkit-keyframes fadeIn {
0% {
	opacity: 0;
	transform: scale(0.6);
}

100% {
	opacity: 100%;
	transform: scale(1);
}
}

@keyframes fadeIn {
0% {
	opacity: 0;
}
100% {
	opacity: 100%;
}
}